<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
    <div class="row container-fluid" id="navBar">
        <div class="col-2">
            <a class="navbar" href="/home" id="mainLogo">Taberu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-9 navBarL">
            <div class="navBox"> <a class="navbar" href="https://taberuoxford.co.uk/order-now">Order takeway</a></div>
            <div class="navBox"> <a class="navbar" href="/booking">Book a table</a></div>


        </div>


        <div class=" col-1 collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
            <div class="nav-button" id="navBtn" onclick="toggleNav()">
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
</nav>