<div class="dark" id="darkOverlay">
    <div class="overlay-content">
        <div class="line"></div>

    </div>
    <div class="line"></div>
    <div id="overlayNav" class="row" style="width:100%">
        <div class="col-10">
            <ul id="overlayNav">
                <li id="home"><a href="/">Home</a></li>
                <li id="book"><a href="/booking">Book a table</a></li>
                <li><a href="https://taberuoxford.co.uk/order-now">Place an Order</a></li>
                <li id="contact"><a href="/contact">Contact us</a></li>
            </ul>

            <div class="col-2">
                <img class="dark-image" src="/sushi.jpg" id="overlayImg">
            </div>




        </div>



    </div>
    <div class="linetwo" id="lineTwo" style="margin-top: 40px;"> </div>

</div>