<div class="dark" id="darkOverlay">
    <div class="overlay-content">
        <div class="line"></div>
        <div class="line"></div>
        <div class="linetwo"> </div>
        <div id="overlayNav" class="row" style="width:100%;">

            <div class="col-10">
                <ul id="overlayNav">
                    <li id="home"><a href="/">Home</a></li>
                    <li id="contact"><a href="/contact">Contact us</a></li>
                    <li id="book"><a href="/booking">Book a table</a></li>
                    <li><a href="https://taberuoxford.co.uk/order-now">Place an Order</a></li>
                </ul>
            </div>
            <div class="col-2">
                <img class="dark-image" src="/sushi.jpg" alt="">
            </div>




        </div>



    </div>
</div>