<%- layout('layouts/boilerplate') %>
    <div class="container">
        <header>
            <h2>We'd love to hear from you! Whether you have a question about our services, want to provide feedback,
                or simply want to say hello, feel free to get in touch using the information below.</h2>
        </header>
    </div>