<%- layout('layouts/boilerplate') %>

    <h2 class="bookingConfirm">Dear <%= name %>,
    </h2>

    <p class="bookingConfirmP">We're thrilled to inform you that your booking has been successfully received ! Thank you
        for choosing Taberu
        restaurant.
        <br> You can expect a confirmation email with all the details within the next 24 hours.
    </p>
    <P class="bookingConfirmP">If you have any questions or need further assistance, feel free to reach out to us at:
        <br> manager@taberu.co.uk.
    </P>