<%- layout('layouts/boilerplate') %>





    <div class="row mainImage">
        <h2>A popular Japanese restaurant in Oxford, known for its authentic flavors and serene ambiance, offers a
            diverse menu featuring sushi, sashimi, and traditional Japanese dishes.</h2>
    </div>

    <!-- this is menu select section -->

    <div class="row middleSection">
        <div class="col-2">
            <img src="/foodPictures/Food-menu.png" alt="" srcset="" class=" menuKanjiLeft">
        </div>

        <div class="col-4 menuPart contain right">

            <img src="/foodPictures/curryUdon.png" alt="curryUdon" id="menuImg" class="scroll">
            <div>
                <button>FOOD MENU</button>
            </div>

        </div>


        <div class="col-4 menuPart contain left">
            <img src="/foodPictures/newSake.png" alt="" srcset="" class="scroll ">
            <button>DRINK MENU</button>
        </div>
        <div class="col-2 ">
            <img src="/foodPictures/Drinks-menu.png" alt="" srcset="" class="menuKanjiRight">
        </div>
    </div>








    <!-- Galery section -->
    <div id="galery">
        <div class="galeryContain">
            <img src="/foodPictures/okonomiyaki.png" alt="" class="img-fluid firstPic galeryPics">
            <img src="/foodPictures/unagidon.png" alt="" class="img-fluid secondPic galeryPics">
            <img src="/foodPictures/assortedsashimi.png" alt="" class="img-fluid thirdPic galeryPics">
        </div>
        <button class="btn galeryButton" id="btnGalery">GALERY</button>
    </div>