<%- layout('layouts/boilerplate') %>





    <div class="row mainImage">
        <h2>A popular Japanese restaurant in Oxford, known for its authentic flavors and serene ambiance, offers a
            diverse menu featuring sushi, sashimi, and traditional Japanese dishes.</h2>
    </div>

    <!-- this is menu select section -->

    <div class="row middleSection">
        <div class="col-1 midSection"></div>
        <div class="col midSection">
            <div class="row menus">
                <div class="col-2 "></div>
                <div class="col-5" id="pdfMenu">
                    <p>
                        In addition to our sushi, we offer some of the favourite street food Japan has to offer, and
                        some dishes
                        are even influenced by our far east heritage! Check out our menu.
                    </p>

                    <p>The bar at Taberu focuses on contemporary drinks, why not try something from
                        our
                        collection of Sakes and Japanese Whisky and Gins?
                    </p>


                </div>
                <div class="col-3 pdf">
                    <button class="menuBtn" onclick="openPdf()">Food menus</button>
                    <button class="menuBtn" id="drinkMenu">Drinks menu</button>
                </div>
                <div class="col-2"></div>

            </div>

        </div>
        <div class="col-1 midSection"></div>
    </div>








    <!-- Galery section -->
    <div id="galery">
        <button class="btn galeryButton" id="btnGalery">Galery</button>
    </div>