h1 {
    color: white;

}

.formRow {
    display: flex;
    width: 25rem;
    margin-left: 1rem;
    z-index: 5;
    color: whitesmoke;
}

.btn {
    margin-top: 0.3rem;
    background-color: black;
    color: whitesmoke;
    border: solid 1px whitesmoke;
    border-radius: 20px;
    height: 60px;

}

.btn:hover {
    opacity: 0.6;
    background-color: whitesmoke;
    color: black;
}

img {
    margin-left: 1rem;
    height: 70%;
    width: 80%;
}