h1 {
    color: white;

}

.row.g-3 {
    margin-left: 7rem;
}

.formRow {
    display: flex;
    width: 25rem;
    margin-left: 1rem;
    z-index: 5;
    color: whitesmoke;
    margin-left: 10rem;
    font-family: 'Roboto Slab';
}

.btn {
    margin-top: 0.3rem;
    background-color: black;
    color: whitesmoke;
    border: solid 1px whitesmoke;
    border-radius: 20px;
    height: 60px;
    margin-bottom: 1rem;

}

.btn:hover {
    opacity: 0.6;
    background-color: whitesmoke;
    color: black;
}

#bookingImg {
    margin-left: 2rem;
    width: 500px;
    max-width: 70%;
    height: 75vh;

}

.bookingRow {
    margin-top: 5rem;
}