@media(min-width:1084px) {
    #navBtn {
        display: none;
    }

}




@media (max-width:993px) {

    /* .navBarL {
        display: none;
    } */
    .navBarL {
        display: none;
    }







}



@media (max-width:903px) {

    #mapBox {
        display: none;
    }
}

@media(max-width:733px) {
    .drinkText {
        display: none;
    }



    #btnGalery {
        position: relative;
        bottom: 60px;
    }

    .col-3 {

        flex: 0 0 auto;
        width: 10rem;

    }

    #bookingImg {
        display: none;
    }

}



@media (max-width:650px) {


    .row.middleSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .col-3.pdf {
        order: 2;
        /* Change the order of the pdf div to display it below */



        display: flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;

    }

    #pdfMenu.col-5 {
        flex: 0 0 auto;
        width: 100%;

    }

    .col-5 p {
        text-align: center;
    }

    .smallDisplay {
        display: none;
    }

    .menus {
        order: 1;
        /* Change the order of the menus div to display it above */
    }



    .col-1 {
        display: none;
    }

    #galery {
        height: 90vh auto;
    }

    .firstPic,
    .thirdPic {
        display: none;
    }

    .menuKanjiRight,
    .menuKanjiLeft {
        display: none;
    }

    .navBarL {
        width: 100%;
        display: none;
    }



    #mainLogo {
        font-family: 'Protest Revolution';
        font-size: 5rem;
        margin-bottom: 2.5rem;
        position: relative;
        bottom: 30px;
    }

    #darkOverlay.dark {
        z-index: -2;
    }

    #mapBox {
        display: none;
    }

    #overlayImg {
        display: none;
    }


}

@media (max-width: 576px) {

    /* Adjust input field width for smaller screens */
    .formRow input[type="text"],
    .formRow input[type="email"],
    .formRow input[type="number"],
    .formRow input[type="date"],
    .formRow select {
        width: 100%;
    }

    @media(max-width:440px) {
        div.col-2.smallDisplay {
            display: none;
        }



        .mainImage {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            position: relative;
            background-image: url(https://images.unsplash.com/photo-1615361200098-9e630ec29b4e?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            background-size: cover;
            background-attachment: fixed;
            /* This ensures the background image stays fixed */
            width: 100%;
            height: 86.7vh;
            text-align: center;
            color: rgba(255, 255, 255, 0.925);
            z-index: 2;
            font-family: 'Roboto Slab';
        }


        p {
            margin-top: 2rem;
        }

        .dark.active.line {
            width: 51.4%;
            opacity: 1;
            margin-bottom: 20px;

        }

        .dark.active .linetwo {
            width: 100%;
        }

        .dark.active .line {
            width: 100%;
            opacity: 1;
        }



        .overlay-content {
            /* Adjustments to make sure the overlay content is centered */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .btn {
            margin-bottom: 1rem;
        }

        button.menuBtn {
            background-color: black;
            color: whitesmoke;
            border: solid 1px #f5f5f5;
            border-radius: 20px;
            height: 60px;
            margin-top: 4rem;
            z-index: 2;
            width: 10rem;
        }


    }
}

@media (min-width: 429px) {
    .logo {
        z-index: 3;
    }

    button {
        z-index: 3;
    }

    .img-fluid {
        width: auto;
        height: auto;
    }
}