* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}


body {
    background-color: black;
    overflow-x: hidden;
}






.dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    opacity: 0;

    transition: all 0.3s;
}

.dark.active {
    opacity: 1;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;

}

.dark.active .overlay-content {
    opacity: 1;
    text-align: start;

}

.dark .line {
    width: 0;
    height: 4px;
    background-color: white;
    opacity: 1;
    margin: 100px 0;
    transition: width 0.5s ease-out;
}

.dark.active .line {
    width: 51.4%;
    opacity: 1;
}

.dark.active #map {
    display: none;
}

.dark .linetwo {
    width: 0;
    height: 4px;
    background-color: white;
    margin: 100px 0;
    transition: width 0.5s ease-out;
}

.dark.active .linetwo {
    width: 51.4%;
}



.dark img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30%;
    /* Adjust the size as needed */
    max-height: 60%;
    /* Adjust the size as needed */
    opacity: 0.6;
    transition: opacity 0.5ms, max-width 0.1s, max-height 0.1s;

}

.dark.active img {
    opacity: 1;
}

.dark.active img {
    transition: ease-in 1s;
}

.col-10 li {
    position: absolute;
    height: 5rem;
    line-height: 2rem;
    /* Adjust the line-height to the desired value */
    top: calc(50% + 2rem);
    /* Adjust the top value to position them vertically */
    transform: translateY(-90%);
}

/* Additional styling for the li elements */
.col-10 li:nth-child(1) {
    top: calc(50% - 2rem);
    /* Adjust the top value for the first li element */
}

.col-10 li:nth-child(2) {
    top: 50%;
    /* Adjust the top value for the second li element */
}

.col-10 li:nth-child(3) {
    top: calc(50% + 2rem);
    /* Adjust the top value for the third li element */
}

.col-10 li:nth-child(4) {
    top: calc(50% + 4rem);
}


.col-1.colImg img {
    position: absolute;
    background-size: contain;
    height: 290px;
    top: -13%;
    right: -1%;
    opacity: 0.8;

}


/* #home {
    height: 100%;
} */




/* .container-fluid {
    overflow-x: hidden;
} */

.mainImage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    background-image: url(/mainImg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    /* This ensures the background image stays fixed */
    width: 100%;
    height: 86.7vh;

    font-family: 'Roboto Slab';
}

/* Add a pseudo-element for overlay */
.mainImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust opacity as needed */

}

.row.mainImage h2 {
    text-align: center;
    color: white;
    /* Set text color to white */
    line-height: 1.5;
    max-width: 1000px;
    position: relative;
    /* Ensure text stays above the overlay */

    /* Ensure text stays above the overlay */
}

.middleSection {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.menuPart.contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;



}



.menuPart button {
    width: 300px;
    margin-bottom: 1rem;
}

.contain>img {
    width: auto;
    height: 55vh;
    opacity: 0;
    /* Initially somewhat transparent */

    animation: fade-In 1s linear forwards;
    /* Animation duration and fill mode */
    animation-timeline: view(500px 216px);
    /* animation-range: contain; */
}

@keyframes fade-In {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

button {
    background-color: black;
    color: whitesmoke;
    border: solid 1px #f5f5f5;
    border-radius: 20px;
    height: 60px;
    margin-top: 4rem;

    width: 100px;
}



#galery {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* -imagebackground: url(https://images.unsplash.com/photo-1617196035154-1e7e6e28b0db?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    height: 100vh;
    /* background-size: cover; */
    /* background-position-y: 32%; */


}

#btnGalery {
    width: 200px;
    border: solid 1px white;
    color: white;
    border-radius: 25px;
    margin-bottom: 8rem;
}

#btnGalery:hover {
    background-color: white;
    color: black;
    opacity: 0.4;
}

footer {
    height: 300px;
    border-top: solid 1px white;
}

#map {
    height: 200px;
    width: 350px;
    margin: 2rem 0px 0px 3rem;
    color: black;
}

.footer p {
    margin-top: 0.1px;
    line-height: 12px;
    font-family: 'Roboto Slab';
}

.footer p:first-child {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* .footer p:nth-child(2) {
    margin-top: 40px;
    margin-bottom: 40px;
} */

#secondFooter {
    margin-top: 40px;
    margin-bottom: 5px;
}

#pdfMenu {
    font-family: 'Playfair Display';
}


.current-page {
    /* Add your highlighting styles here, for example: */

    color: rgba(255, 246, 240, 0.4);
    /* You can customize this further based on your design */
}

#overlayNav {
    list-style: none;

}

.menuBtn:hover {
    background-color: white;
    color: black;
    opacity: 0.4;
}

input {
    width: 50px;
}


.footer {

    padding: 20px;
    /* Adjust as needed */

    border-top: 1px solid #ccc;
    /* Example border */

}

.footer {
    font-size: 14px;
    /* Adjust as needed */
    ;
    margin-bottom: 10px;
    /* Adjust as needed */
    ;
    color: whitesmoke;
}

#tHead {
    margin-bottom: 4rem;
}

.mapboxgl-popup-content {
    display: flex;
    color: black;
    /* Set the text color to black */
    background: #665959;
}

.mapboxgl-popup-close-button {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -60px;
}

.bookingConfirm {
    color: whitesmoke;
    font-family: 'Roboto Slab';
}

.bookingConfirmP {
    margin-top: 0.5rem;
}

.ficon {
    height: 50px;
    width: 50px;
    margin-right: 10px;

}

@media (max-width: 576px) {

    /* Adjust input field width for smaller screens */
    .formRow input[type="text"],
    .formRow input[type="email"],
    .formRow input[type="number"],
    .formRow input[type="date"],
    .formRow select {
        width: 100%;
    }
}

.col-6.foodmenu img {
    width: 100%;
    margin-bottom: 10px;
}

.galeryContain>img {
    width: auto;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    height: 19rem;
    opacity: 0;
    /* Initially somewhat transparent */

    animation: fade-In 1s linear forwards;
    /* Animation duration and fill mode */
    animation-timeline: view(500px 216px);
    /* animation-range: contain; */
}



.logo {
    position: absolute;
    height: 10vh auto;
    /* Adjust the height as needed */
    top: 2px;
    /* Adjust the top position */
    left: 20px;
    /* Adjust the left position */
    z-index: 2;
}


.menuKanjiLeft {
    width: auto;
    height: auto;
    opacity: 0.55;
}

.menuKanjiRight {
    width: auto;
    height: auto;
    opacity: 0.55;
}

.secondPic {
    margin-left: 3rem;
    margin-right: 3rem;
}